<a href="https://colab.research.google.com/github/jinasun/APCS/blob/main/for_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Introduction to `for` Loops**

In programming, a `for` loop provides a clean and concise way to iterate over a sequence of items. It's one of the most commonly used loops due to its simplicity and versatility in handling structured data types.

---

### **Iterating Over Ranges**

The `range()` function generates a sequence of numbers, which can be used in a `for` loop to repeat an action a specific number of times.

**Basic Syntax:**
```python
for variable in range(start, stop, step):
    # body of the loop
```

- `start`: The beginning value (optional, default is 0).
- `stop`: The end value (exclusive).
- `step`: The increment/decrement value (optional, default is 1).

**Example 1:** Counting from 0 to 4
```python
for i in range(5):
    print(i)
```

**Example 2:** Counting from 2 to 8 in steps of 2
```python
for i in range(2, 9, 2):
    print(i)
```

---

### **Iterating Over Lists**

A `for` loop can directly iterate over items in a list without needing to reference indices.

**Basic Syntax:**
```python
for item in list_name:
    # body of the loop
```

**Example:** Printing all items in a list
```python
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
```

**Note:** The `for` loop can also iterate over other iterable data types like tuples, sets, strings, and dictionaries.

---

In [ ]:
#You can play around with the examples in this cell
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry


### **Practice Exercises:**

1. **Number Doubler:** For numbers 1 through 10, print each number doubled.

In [ ]:
#Ex1
numbers = [1,2,3,4,5,6,7,8,9,10]
for num in numbers:
  print(num*2)

2
4
6
8
10
12
14
16
18
20

2. **Vowel Finder:** Given a word, iterate over it and print only the vowels.

In [ ]:
#Ex2
words = input("Enter a word: ").lower()

vowels = ['a', 'e', 'i', 'o', 'u']

found_vowels = ""

for word in words:
  if word in vowels:
    found_vowels += word

print("Vowels in the word:", found_vowels)

Enter a word: fghjk
Vowels in the word:

3. **List Reverser:** Without using built-in functions, reverse the items in a list.

In [3]:
#Ex3
cosas = ("aqua","tarea","telofono")

length = len(cosas)

for i in range(length-1,-1,-1):
  print(cosas[i])

telofono
tarea
aqua

4. **Odd Number Counter:** Given a list of numbers, count how many odd numbers there are.

In [8]:
#Ex4
numbers = [2,5,0]

odd = 0

for num in numbers:
  if num % 2 != 0:
    odd += 1

print("Odd number in the list:", odd)

Odd number in the list: 1

5. **Grade Assigner:** For a list of scores, assign and print grades (e.g., A, B, C).

In [2]:
#Ex5
scores = [40,45,60,65,80,85]

for score in scores:
  if 80 <= score <= 90:
    grade = "A"
  elif 60 <= score < 70:
    grade = "B"
  elif 40 <= score < 60:
    grade = "C"

  print("Score: ",score, "-> Grade: ",grade)

Score:  40 -> Grade:  C
Score:  45 -> Grade:  C
Score:  60 -> Grade:  B
Score:  65 -> Grade:  B
Score:  80 -> Grade:  A
Score:  85 -> Grade:  A

6. **Word Lengths:** For a list of words, print each word alongside its length.

In [5]:
#Ex6
words = ["uno","dos","tres","cuartro","cinco","seis","siete","ocho","nueve","diez"]

for word in words:
  print(word," : ", len(word))

uno  :  3
dos  :  3
tres  :  4
cuartro  :  7
cinco  :  5
seis  :  4
siete  :  5
ocho  :  4
nueve  :  5
diez  :  4

7. **Positive Number Finder:** Given a list of numbers, print only the positive ones.

In [6]:
#Ex7
numbers = [-2,-1,0,1,2]

for num in numbers:
  if num > 0:
    print(num)

1
2

8. **Temperature Converter:** Convert a list of temperatures from Celsius to Fahrenheit and print them.

In [7]:
#Ex8
cel_temp = [10, 25, 26, 36, 37, -9]

for cel in cel_temp:
  fahrenheit = (cel * 9/5) + 32
  print(cel," °C is equal to ", fahrenheit,"°F")

10  °C is equal to  50.0 °F
25  °C is equal to  77.0 °F
26  °C is equal to  78.8 °F
36  °C is equal to  96.8 °F
37  °C is equal to  98.6 °F
-9  °C is equal to  15.8 °F

9. **Name Initials:** For a list of full names, print the initials of each name.

In [14]:
#Ex9
nombre = ["Jina Sun", "Jina Sol", "Gina Sun", "Howard Huang"]

for name in nombre:
  short = ""
  for word in name.split():
    short += word[0]
  print(short)

JS
JS
GS
HH

10. **Range Sum:** Calculate the sum of numbers from 1 to 100 using a `for` loop.

In [15]:
#Ex10
sum = 0

for number in range(1, 101):
  sum += number

print("The sum is: ", sum)

The sum is:  5050